In [1]:
import pandas as pd
pd.set_option('display.max_columns',None)
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
df=pd.read_csv("movies_metadata.csv")

C:\Users\Mohammed\AppData\Local\Temp\ipykernel_4220\2203978780.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("movies_metadata.csv")

In [3]:
df.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [4]:
# Calculate mean of vote average column
C = df['vote_average'].mean()
print(C)

5.618207215134185

In [5]:
m = df['vote_count'].quantile(0.90)
print(m)

160.0

In [6]:
# Filter out all qualified movies into a new DataFrame
q_movies = df.copy().loc[df['vote_count'] >= m]
q_movies.shape

(4555, 24)

In [7]:
q_movies['vote_count']

0        5415.0
1        2413.0
4         173.0
5        1886.0
8         174.0
          ...
45177     160.0
45204     393.0
45258     171.0
45265     255.0
45343     167.0
Name: vote_count, Length: 4555, dtype: float64

In [8]:
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [9]:
# Define a new feature 'score' and calculate its value with `weighted_rating()`
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [10]:
q_movies.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,score
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,7.640253
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,6.820293

In [11]:
df['vote_count'].quantile(.25)

np.float64(3.0)

In [12]:
df['vote_count'].quantile(.9)

np.float64(160.0)

In [13]:
# Define a new feature 'score' and calculate its value with `weighted_rating()`
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [14]:
q_movies['score']

0        7.640253
1        6.820293
4        5.660700
5        7.537201
8        5.556626
           ...
45177    4.959104
45204    6.671272
45258    6.590372
45265    6.344369
45343    4.791783
Name: score, Length: 4555, dtype: float64

In [15]:
#Sort movies based on score calculated above
q_movies = q_movies.sort_values('score')

#Print the top 15 movies
q_movies[['title', 'vote_count', 'vote_average', 'score']].head(20)

                             title  vote_count  vote_average     score
13566         Dragonball Evolution       475.0           2.9  3.584903
11557                   Epic Movie       334.0           3.2  3.983225
3471             Battlefield Earth       259.0           3.0  3.999793
12911               Disaster Movie       250.0           3.1  4.082715
9710               Son of the Mask       346.0           3.6  4.238168
21238                    Sharknado       484.0           3.8  4.251729
24413                  Left Behind       396.0           3.7  4.252002
28207            The Boy Next Door      1034.0           4.1  4.303445
9651             Alone in the Dark       174.0           3.1  4.306327
18101                Jack and Jill       619.0           4.0  4.332366
1491                Batman & Robin      1447.0           4.2  4.341203
12358            Meet the Spartans       370.0           3.8  4.348893
3998             Jaws: The Revenge       227.0           3.5  4.375745
7939                      Catwoman       833.0           4.2  4.428513
10809                   Date Movie       225.0           3.6  4.438735
26563               Fantastic Four      2322.0           4.4  4.478531
11229               The Wicker Man       355.0           4.0  4.502744
1486       Speed 2: Cruise Control       439.0           4.1  4.505531
1603   Mortal Kombat: Annihilation       225.0           3.8  4.555619
16616                 Home Alone 4       239.0           3.9  4.589005

In [16]:
df[df['vote_count']>=160]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.924927,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,5.23158,/eoWvKD60lT95Ss1MYNgVExpo5iU.jpg,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45177,False,"{'id': 442352, 'name': 'Brice Collection', 'po...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,375798,tt5029602,fr,Brice 3,"Brice is back. The world has changed, but not ...",7.276407,/d42seAYATQhh3y4GxFQkM46jHvq.jpg,"[{'name': 'Gaumont', 'id': 9}, {'name': 'M6 Fi...","[{'iso_3166_1': 'FR', 'name': 'France'}]",2016-10-19,0.0,95.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Brice 3,False,4.3,160.0
45204,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,417870,tt3564472,en,Girls Trip,Four girlfriends take a trip to New Orleans fo...,37.964872,/94nCLn74lBh4pLdZPIad18BpheE.jpg,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-07-21,0.0,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"""Forgive us in advance for this wild weekend""",Girls Trip,False,7.1,393.0
45258,False,"{'id': 466463, 'name': 'Descendants Collection...",0,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 107...",NaN,417320,tt5117876,en,Descendants 2,When the pressure to be royal becomes too much...,15.842073,/7TLywOVzWwU1GMyqdjUiSVzBiyc.jpg,"[{'name': 'Walt Disney Television', 'id': 670}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-07-21,0.0,111.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}]",Released,Long live evil.,Descendants 2,False,7.5,171.0
45265,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,265189,tt2121382,sv,Turist,"While holidaying in the French Alps, a Swedish...",12.165685,/rGMtc9AtZsnWSSL5VnLaGvx1PI6.jpg,"[{'name': 'Motlys', 'id': 2783}, {'name': 'Cop...","[{'iso_3166_1': 'NO', 'name': 'Norway'}, {'iso...",2014-08-15,1359497.0,118.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,Force Majeure,False,6.8,255.0
45343,False,"{'id': 52888, 'name': 'The Visitors Collection...",25868826,"[{'id': 35, 'name': 'Comedy'}]",NaN,248705,tt2441982,fr,Les Visiteurs: La Révolution,"Stuck in the corridors of time, Godefroy de Mo...",7.29492,/2tR5dfWONNPCjW3Th2RFk2DuLsY.jpg,"[{'name': 'Gaumont', 'id': 9}]","[{'iso_3166_1': 'FR', 'name': 'France'}]",2016-03-23,0.0,110.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,The Visitors: Bastille Day,False,4.0,167.0

In [17]:
df['overview'].iloc[0]

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences."

In [18]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
df['overview'] = df['overview'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(df['overview'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(45466, 75827)

In [19]:
    tfidf.get_feature_names_out()[5000:5010]

array(['avails', 'avaks', 'avalanche', 'avalanches', 'avallone', 'avalon',
       'avant', 'avanthika', 'avanti', 'avaracious'], dtype=object)

In [20]:
type(tfidf)

sklearn.feature_extraction.text.TfidfVectorizer

In [21]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [22]:
#Construct a reverse map of indices and movie titles
indices = pd.Series(df.index, index=df['title']).drop_duplicates()

In [23]:
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df['title'].iloc[movie_indices]

In [24]:
pd.Series(df.index, index=df['title']).drop_duplicates()

title
Toy Story                          0
Jumanji                            1
Grumpier Old Men                   2
Waiting to Exhale                  3
Father of the Bride Part II        4
                               ...
Subdue                         45461
Century of Birthing            45462
Betrayal                       45463
Satan Triumphant               45464
Queerama                       45465
Length: 45466, dtype: int64

In [25]:
get_recommendations('The Godfather', cosine_sim=cosine_sim)

1178               The Godfather: Part II
44030    The Godfather Trilogy: 1972-1990
1914              The Godfather: Part III
23126                          Blood Ties
11297                    Household Saints
34717                   Start Liquidation
10821                            Election
38030            A Mother Should Be Loved
17729                   Short Sharp Shock
26293                  Beck 28 - Familjen
Name: title, dtype: object

In [26]:
keywords=pd.read_csv('keywords.csv')
credit=pd.read_csv('credits.csv')

In [27]:
print(keywords['keywords'].iloc[0])

[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]

In [28]:
df = df.drop(index=[19730, 29503, 35587],axis=0)
# Convert IDs to int. Required for merging
keywords['id'] = keywords['id'].astype('int')
credit['id'] = credit['id'].astype('int')
df['id'] = df['id'].astype('int')

# Merge keywords and credits into your main metadata dataframe
df = df.merge(credit, on='id')
df = df.merge(keywords, on='id')

In [29]:
df.iloc[0]

adult                                                                False
belongs_to_collection    {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                            30000000
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
homepage                              http://toystory.disney.com/toy-story
id                                                                     862
imdb_id                                                          tt0114709
original_language                                                       en
original_title                                                   Toy Story
overview                 Led by Woody, Andy's toys live happily in his ...
popularity                                                       21.946943
poster_path                               /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies        [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-10-30
revenue                                                        373554033.0
runtime                                                               81.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                                NaN
title                                                            Toy Story
video                                                                False
vote_average                                                           7.7
vote_count                                                          5415.0
cast                     [{'cast_id': 14, 'character': 'Woody (voice)',...
crew                     [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
keywords                 [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
Name: 0, dtype: object

In [30]:
# Parse the stringified features into their corresponding python objects
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    df[feature] = df[feature].apply(literal_eval)

In [31]:
df['cast'].iloc[0]

[{'cast_id': 14,
  'character': 'Woody (voice)',
  'credit_id': '52fe4284c3a36847f8024f95',
  'gender': 2,
  'id': 31,
  'name': 'Tom Hanks',
  'order': 0,
  'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'},
 {'cast_id': 15,
  'character': 'Buzz Lightyear (voice)',
  'credit_id': '52fe4284c3a36847f8024f99',
  'gender': 2,
  'id': 12898,
  'name': 'Tim Allen',
  'order': 1,
  'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'},
 {'cast_id': 16,
  'character': 'Mr. Potato Head (voice)',
  'credit_id': '52fe4284c3a36847f8024f9d',
  'gender': 2,
  'id': 7167,
  'name': 'Don Rickles',
  'order': 2,
  'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'},
 {'cast_id': 17,
  'character': 'Slinky Dog (voice)',
  'credit_id': '52fe4284c3a36847f8024fa1',
  'gender': 2,
  'id': 12899,
  'name': 'Jim Varney',
  'order': 3,
  'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'},
 {'cast_id': 18,
  'character': 'Rex (voice)',
  'credit_id': '52fe4284c3a36847f8024fa5',
  'gender': 2,
  'id': 12900,
  'name': 'Wallace Shawn',
  'order': 4,
  'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'},
 {'cast_id': 19,
  'character': 'Hamm (voice)',
  'credit_id': '52fe4284c3a36847f8024fa9',
  'gender': 2,
  'id': 7907,
  'name': 'John Ratzenberger',
  'order': 5,
  'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'},
 {'cast_id': 20,
  'character': 'Bo Peep (voice)',
  'credit_id': '52fe4284c3a36847f8024fad',
  'gender': 1,
  'id': 8873,
  'name': 'Annie Potts',
  'order': 6,
  'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'},
 {'cast_id': 26,
  'character': 'Andy (voice)',
  'credit_id': '52fe4284c3a36847f8024fc1',
  'gender': 0,
  'id': 1116442,
  'name': 'John Morris',
  'order': 7,
  'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'},
 {'cast_id': 22,
  'character': 'Sid (voice)',
  'credit_id': '52fe4284c3a36847f8024fb1',
  'gender': 2,
  'id': 12901,
  'name': 'Erik von Detten',
  'order': 8,
  'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'},
 {'cast_id': 23,
  'character': 'Mrs. Davis (voice)',
  'credit_id': '52fe4284c3a36847f8024fb5',
  'gender': 1,
  'id': 12133,
  'name': 'Laurie Metcalf',
  'order': 9,
  'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'},
 {'cast_id': 24,
  'character': 'Sergeant (voice)',
  'credit_id': '52fe4284c3a36847f8024fb9',
  'gender': 2,
  'id': 8655,
  'name': 'R. Lee Ermey',
  'order': 10,
  'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'},
 {'cast_id': 25,
  'character': 'Hannah (voice)',
  'credit_id': '52fe4284c3a36847f8024fbd',
  'gender': 1,
  'id': 12903,
  'name': 'Sarah Freeman',
  'order': 11,
  'profile_path': None},
 {'cast_id': 27,
  'character': 'TV Announcer (voice)',
  'credit_id': '52fe4284c3a36847f8024fc5',
  'gender': 2,
  'id': 37221,
  'name': 'Penn Jillette',
  'order': 12,
  'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]

In [32]:
df.iloc[0]

adult                                                                False
belongs_to_collection    {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                            30000000
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
homepage                              http://toystory.disney.com/toy-story
id                                                                     862
imdb_id                                                          tt0114709
original_language                                                       en
original_title                                                   Toy Story
overview                 Led by Woody, Andy's toys live happily in his ...
popularity                                                       21.946943
poster_path                               /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies        [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-10-30
revenue                                                        373554033.0
runtime                                                               81.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                                NaN
title                                                            Toy Story
video                                                                False
vote_average                                                           7.7
vote_count                                                          5415.0
cast                     [{'cast_id': 14, 'character': 'Woody (voice)',...
crew                     [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
keywords                 [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
Name: 0, dtype: object

In [33]:
# Import Numpy
import numpy as np

In [34]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [35]:
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

In [36]:
# Define new director, cast, genres and keywords features that are in a suitable form.
df['director'] = df['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    df[feature] = df[feature].apply(get_list)

In [37]:
# Print the new features of the first 3 films
df[['title', 'cast', 'director', 'keywords', 'genres']].head(3)

,title,cast,director,keywords,genres
0,Toy Story,"[Tom Hanks, Tim Allen, Don Rickles]",John Lasseter,"[jealousy, toy, boy]","[Animation, Comedy, Family]"
1,Jumanji,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]",Joe Johnston,"[board game, disappearance, based on children'...","[Adventure, Fantasy, Family]"
2,Grumpier Old Men,"[Walter Matthau, Jack Lemmon, Ann-Margret]",Howard Deutch,"[fishing, best friend, duringcreditsstinger]","[Romance, Comedy]"

In [38]:
# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [39]:
# Apply clean_data function to your features.
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    df[feature] = df[feature].apply(clean_data)

In [40]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

In [41]:
# Create a new soup feature
df['soup'] = df.apply(create_soup, axis=1)

In [42]:
df['soup'].iloc[0]

'jealousy toy boy tomhanks timallen donrickles johnlasseter animation comedy family'

In [43]:
# Import CountVectorizer and create the count matrix
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df['soup'])

In [46]:
# Compute the Cosine Similarity matrix based on the count_matrix
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

MemoryError: Unable to allocate 16.2 GiB for an array with shape (46628, 46628) and data type float64

In [45]:
del cosine_sim